﻿body {
    margin: 0;
    background: #424242;
    min-width: 960px;
    margin-top: 60px;
    color: #ccc;
    overflow: hidden;
}

#debug {
    display: none;
}

rect {
    fill: none;
    pointer-events: all;
}

circle {
    fill: none;
    stroke-width: 2.5px;
}

#timeOutput {
    text-align: center;
    color: #ccc;
    font-size: 40px;
}

#locationMap {


    width: 800px;
    margin: 0 auto;
    height: 543px;
    background-image: url(Images/BWH.png);
    background-size: cover;
    background-position: center center;


}

.allyourbase {
    width: 750px;
    height: 600px;
    margin: 0 auto;
    border: solid 1px #444;

    box-shadow: 0 10px 20px #000;

    background-image: url("Images/base.jpg");



}

.map-container {
    position: relative;
    
}

.controls {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 20000;
    padding: 1em;

}

.control {
    padding: 0 0.5em 0 0;
    cursor: pointer;
}

.control:hover {
    color: #fff;
}

.control.active {
    color: #ff0;
}