﻿@using System.Drawing
@model GetMongoData.Models.HourlyCountViewModel

<input id="startTime" type="hidden" value="@Model.StartTime.ToString("yyyy-MM-ddTHH:mm")" />

<div class="map-container">
    <div class="controls">
        <i class="control fa fa-2x fa-step-backward" data-item-action="back"></i>
        <i class="control fa fa-2x fa-play" style="display: none;" data-item-action="play"></i>
        <i class="control fa fa-2x fa-pause" data-item-action="stop"></i>

    </div>

    <div id="locationMap">


    </div>
    <div id="dataContainer">
        <h1 id="timeOutput"></h1>
        <pre id="debug">Debug</pre>
    </div>

    <div class="totalsContainer"></div>
</div>

<script src="http://d3js.org/d3.v3.min.js"></script>


@section scripts{
    <script>

        var interval = null;
        var tickSpeed = @Model.TickSpeed;

        function addMinutes(date, minutes) {
            return new Date(date.getTime() + minutes * 60000);
        }

        function twoDigits(n) {
            return n > 9 ? "" + n : "0" + n;
        }

        function formatDate(d) {
            return d.getDate() + "/" + (d.getMonth() + 1) + "/" +
                  d.getFullYear();
        }

        function formatTime(t) {
            return twoDigits(t.getHours()) + ":" + twoDigits(t.getMinutes());
        }

        var reportTime = new Date($("#startTime").val());
        var startTime = reportTime;

        $(document).ready(function () {



            function getData() {

                var time = reportTime.toISOString();

                $("#timeOutput").text(formatDate(reportTime) + " " + formatTime(reportTime));

                reportTime = addMinutes(reportTime, 1);

                if (reportTime > new Date())
                    reportTime = startTime;

                var options = {
                    //      fromTime: '2015-03-28T10:21:00'
                    fromTime: time
                };

                $.ajax({
                    url: "@Url.HttpRouteUrl("DefaultApi",new { controller="TimeLocation"})",//"/api/timelocation",
                    data: options,
                    success: function (data) {

                        var coords = [];

                        $(data).each(function (i, e) {

                            var mac = e.mac.toLowerCase();

                            //var hue = mac.replace(/:/g, "");
                            //hue = parseInt("0x" + hue) % 360;

                            var hue = 200;

                            if (mac == '48:5a:3f:60:90:49' || mac == '2c:a8:35:bd:68:cd')
                                hue = 0;

                            //

                            //330 - 134 x

                            //300 - 140 y
                            //var x = 330 + e.x * 1.34;
                            //var y = 300 + e.y * 2;
                            //var m = [x, y];

                            /*
                            x
                            margin 133:
                            width of map 660

                            */
                            var x = 133 + e.x * 6.6;

                            /*
                            y
                            top margin 78
                            height 360
                            */

                            var y = 78 + (e.y / 70) * 360;

                            var m = [x,y];
                            coords.push(m);
                            particleAt(m, d3.hsl(hue, 1, .5));

                        });

                        var debug = JSON.stringify(coords);

                        $("#debug").text(debug);

                    }
                });

            }

            function startTheClock() {
                interval = setInterval(getData, tickSpeed);
            }

            function stopTheClock() {
                window.clearInterval(interval);
            }

            $(".control").click(function () {

                var action = $(this).attr("data-item-action");


                switch (action) {

                    case "play":
                        startTheClock();
                        $(".control").show();

                        $(this).hide();

                        break;

                    case "stop":
                        stopTheClock();
                        $(".control").show();

                        $(this).hide();

                        break;

                    case "back":
                        reportTime = startTime;
                        break;

                }


            });

            startTheClock();

        });


        var width = innerWidth, height = innerHeight;



        var i = 0;

        var svg = d3.select("#locationMap").append("svg")
            .attr("width", width)
            .attr("height", height);

        svg.append("rect")
            .attr("width", width)
            .attr("height", height)
            .on("click", particle);


        function particle() {

            var m = d3.mouse(this);
            particleAt(m, d3.hsl(240, 1, .5));

            for (var i = 0; i < 20; i++) {

                var col = d3.hsl(i * 80, 1, .5);

                window.setTimeout(function () {
                    var c = col;

                    var m = [];
                    m.push(Math.random() * width);
                    m.push(Math.random() * height);

                    particleAt(m, c);

                }, i * 100);

            }
            d3.event.preventDefault();

        }

        function particleAt(m, col) {

            svg.insert("circle", "rect")
                .attr("cx", m[0])
                .attr("cy", m[1])
                .attr("r", 10)
                .style("stroke", col)
                .style("stroke-opacity", 1)
                .transition()
                .duration(tickSpeed+ 200)
                .ease(Math.sqrt)
                .attr("r", 50)
                .style("stroke-opacity", 1e-6)
                .remove();

        }


    </script>
}


