﻿<div class="row">
    <div id="placeholder" style="width:100%;height:500px"></div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {

            var series1 = [],
                series2 = [];

            for (var i = 0; i < 25; i++) {
                series1.push([i, Math.round(Math.random()*10)]);
            }

            $.plot($("#placeholder"), [series1, series1], { xaxis: { min:0, max:24 } });
        });
    </script>
}
    